/*
Bém vindo ao meu código CSS.
Aqui você vai ver mais um passo da minha evolção como desenvolvedor web.
*/

/*Abaixo temos algumas configurações básicas*/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Pixelify+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

/*Abaixo temos algumas configurações padrão que vou usar pelo site*/
:root{
    /*fontes*/
    --fontePixel: 'Pixelify Sans';
    --fontePadrão: 'Space Mono';
    --fonteFina: 'Gruppo';

    /*paleta de cores*/
    --bg: rgb(73, 53, 255);
    --bgEscuro: #0A1026;
    --corClaro: rgb(226, 226, 226);
    --corEscuro: rgb(26, 26, 26);
}

/*configurações gerais*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*botão de menu só com CSS ×*/
.fecharMenu{
    position: fixed;
    z-index: 2;
}

.fecharMenuLabel::after{
    content: "☰";
    font-weight: bold;
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem 0.4rem 0.6rem;
    border-radius: 0.1rem;
    background-color: var(--bg);
    color: var(--corClaro);
}

.fecharMenu:checked~#navSup{
    display: flex;
}

.fecharMenu:checked~.fecharMenuLabel::after{
    content: "×";
    font-family: var(--fontePixel);
    font-size: 2rem;
    background-color: var(--corClaro);
    color: var(--bg);
    padding: 0 0.6rem;
}

#navSup{
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: none;
    position: fixed;
    
}

#fecharMenu{
    display: none;
}

/*configuração de aparencia do menu quando aberto*/
#logoP{
    max-height: 50px;
    padding-bottom: 30px;
}

#navSup li{
    padding-bottom: 20px;
}
    
nav a{
    text-decoration: none;
    color: var(--corClaro);
    font-family: var(--fontePixel);
    font-size: 2rem;
    font-weight: bold;
}

/*inicio*/
#inicio{
    height: 100vh;
    background: var(--bgEscuro) url(../img/bgPixelArt.jpg) center center / cover scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: var(--corClaro);
    font-family: var(--fontePixel);
    text-align: center;
    max-width: 80%;
    padding-bottom: 3rem;
}
#botaoInicio{
    font-family: var(--fontePixel);
    font-weight: normal;
    font-size: 1.2rem;
    background-color: var(--corClaro);
    color: var(--corEscuro);
    padding: 0.5rem 0.7rem;
    text-decoration: none;
}

#historia{
    display: block;
    background: var(--bg) url(../img/bgHistoria.jpg) center top / cover scroll;
}